.function-btn{
	background: #666;
}
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
	
    filter: gray;
}
div{
    display:inline-block;
}
body{
    direction: rtl;
}
.row{
    font-size:0;
}
#phone{
    left: 30px;
    opacity: 1;
}
#back:hover{
    src:"res/back_hover.png"
}
#home:hover{

}
#recent:hover{

}
#power:hover{

}
#vol_up:hover{

}
#vol_down:hover{

}
